<% layout('/layouts/boilerplate') -%>
<div class="row">
  <div class="col-8 offset-2">
    <br />
    <h3>New Listings</h3>
    <br />
    <form
      method="POST"
      action="/listings"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Enter title</label>
        <input
          type="text"
          name="listing[title]"
          class="form-control"
          placeholder="Title"
          required
        />
        <div class="invalid-feedback">Please enter title.</div>
      </div>

      <div class="mb-3">
        <label for="discription" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          name="listing[description]"
          placeholder="Write discription"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter Description.</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">image</label>
        <input name="listing[image]" type="file" class="form-control" />
        <div class="invalid-feedback">url/link cannot be empty.</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Enter price</label>
          <input
            class="form-control"
            name="listing[price]"
            placeholder="0"
            required
          />
          <div class="invalid-feedback">Please enter price.</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">Enter Location</label>
          <input
            type="text"
            class="form-control"
            name="listing[location]"
            id="location"
            placeholder="location"
            required
          />
          <div class="invalid-feedback">Please enter your location.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Enter Country</label>
        <input
          type="text"
          class="form-control"
          name="listing[country]"
          placeholder="country"
          required
        />
        <div class="invalid-feedback">Please enter your country.</div>
      </div>
      <br />
      <button class="btn btn-dark add-btn">Add</button>
      <br /><br />
    </form>
  </div>
</div>
